/** global styles go here **/

a {
  font-weight: bold;
}

.main-banner {
  width: 100%;
}

.brand-heading {
  font-family: 'Zilla Slab Highlight', cursive;
}

.summary {
  font-family: 'Amatic SC', cursive;
  font-size: xx-large;
}
